header{
  font: var(--text-md);

  & #profile{

    & img:first-child{
      width: 7.5rem;
      object-fit: cover;
      border-radius: 50%;
    }

    & h1{
      font: var(--text-lg);
      color: var(--text-color-primary);
      margin-block: 1rem .5rem;
    }

    & p{
      margin-bottom: 2rem;
    }
  }

  & #info{
    width: 17.5rem;
    height: 6.5rem;

    & li {
      display: flex;
      align-items: center;
      gap: .5rem;
    }
  }
}

@media (width >= 80rem){

  header{

    & #profile{
      width: 37rem;
      display: flex;
      gap: 2rem;

      & img:first-child{
        width: 11rem;
        height: 11rem;
        object-fit: cover;
        aspect-ratio: 1/1;
        border-radius: 50%;
      }
    }
  }

  & #info{
    margin-left: auto;
    margin-block: auto;
  }
}