nav{

  & ul[role="list"]{
    margin-left: auto;
    
    & img:nth-child(1){
      width: 2.5rem;
      object-fit: cover;
      border-radius: 50%;
    }

    & img:nth-child(2){
      width: 1.5rem;
    }
  }
}